html,body {
    height: 100%;
    width: 100%;
}

.onescreensize {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    
}

.container {
min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
min-height: 100vh; /* These two lines are counted as one :-)       */
display: flex;
align-items: center;
}


.backcolor {
  background: -webkit-linear-gradient(#fff, #F5F5F5);
  background: -moz-linear-gradient(#fff, #F5F5F5);
  background: -o-linear-gradient(#fff, #F5F5F5);
  background: linear-gradient(#fff, #F5F5F5);
  background-color:#F5F5F5;
  font-size: 150%;
  font-family: 'Montserrat', sans-serif;
}
.rounded-image {
    border-radius: 50%;
/*    display: inline-block;*/
    font-size: 60px;
    width: 180px;
    height: 180px;
    line-height: 50px;
    display: flex;
align-items: center;
/*    vertical-align: center;*/
/*    text-align: center;*/
}

.enlarge-on-hover:hover {
    -webkit-transform:scale(1.1, 1.1);
    -moz-transform:scale(1.1, 1.1);
    -ms-transform:scale(1.1, 1.1);
    -o-transform:scale(1.1, 1.1);
    transform: scale(1.1);
}

.enlarge-on-hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.smallfont {
    font-size: 75%;
    opacity: 0.5;
}