body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	text-align: center;
}

.onepage {
    height: 100%;
    width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #00B2EE;
	color: white;
	border-bottom: 1px solid white;
}


button {
	min-width: 120px;
  text-align: center;
	height: 40px;
	background: white;
	border: none;
	border-bottom-right-radius: 20px;
	transition: all 0.3s ease-in-out;
	color: #00B2EE;
  cursor: pointer;
}

button:hover {
	background: #00B2EE;
	font-size: 130%;
	color: white;
}

body {
  font: 11px sans-serif;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    background: white;
}

.dropdown:hover .dropdown-background {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: -10;
  background: gray;
  opacity: 0.8;
}

.dropdown-background:hover {
  display: none !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: orange;
	transition: all 0.3s ease-in-out;
  font-size: 120%;
	}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    z-index: 100;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .button {
    background-color: #3e8e41;
}

 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.view-label {

}

svg {
  font: 10px sans-serif;
  padding: 10px;
}

.axis1,
.frame {
  shape-rendering: crispEdges;
}

.axis1 line {
  stroke: #ddd;
}

.axis1 path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

#xaxis .domain {
    fill:none;
    stroke:#000;
  }

#xaxis text, #yaxis text {
  font-size: 12px;
}


.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}



label#navigate-back {
  background: green;
  position: absolute;
  text-align: center;
  min-width: 150px;
  left: 0;
  color: white;
  box-sizing: border-box;
  padding: 0px 20px;
  height: 60px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

#navigate-back:hover {
  font-size: 120%;
  color: white;
  background: #ae2727;
}

label#view-name {
  background: green;
  position: absolute;
  text-align: center;
  min-width: 330px;
  color: white;
  right:0;
  box-sizing: border-box;
  padding: 0px 20px;
  height: 60px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

#view-name:hover {
  background: #ae2727;
  font-size: 120%;
  color: white;
}

circle.show_brush {
  fill: #ec7014 !important;
}

.visualize {
  text-align: left;
}

label#Help {
  background: green;
  position: absolute;
  text-align: center;
  min-width: 280px;
  color: white;
  right:0;
  box-sizing: border-box;
  padding: 0px 20px;
  height: 60px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

#Help:hover {
  background: #ae2727;
  font-size: 100%;
  color: white;
}

button#large {
  min-width: 150px;
  text-align: center;
}

